html {
  background-color: #f3f2e9;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-family: 'Oswald', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #f3f2e9;
  background-image: url('Assets/header_bg_line.png');
  background-repeat: no-repeat;
  background-size: 200% 70%;
  background-position: center -30vh;
  align-items: center;
}

@media only screen and (max-width:768px) {
  .app {
    background-position: center -250px;
  }
}


.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}


.header img {
  padding-top: 2vh;
}

.profilemenu {
  position: absolute;
  right: 2vh;
  top: 1vh;
}

.quickinfo {
  position: relative;
  top: 2vh;
}